

/* addInit CSS */

.addInit-header {
  background-color: rgb(16, 34, 70);
  height: 50px;
}

.addInit-title {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 44px;
  margin: 0;
  z-index: 0;
}

.addInit-hr {
  size: 10;
  width: 100%;
  border-top: 5px solid #eee;
  margin-top: 8px;
  margin-bottom: 1px;
}

.addInit-h4 {
  color: rgb(16, 34, 70);
  text-align: center;
  font-size: 20px; 
  margin-top: 5px;
  margin-bottom: 5px;
}

.addInit-label {
  color: rgb(16, 34, 70);
}



.shiny-notification-error {
  color: #fff !important;
  background-color: #d9534f !important;
  border: 1px solid #d9534f !important;
}

.shiny-notification-message {
  color: #fff !important;
  background-color: #5cb85c !important;
  border: 1px solid #5cb85c !important;
}

.shiny-notification {
  font-size: 120% !important;
  font-weight: bold !important;
}

#shiny-notification-panel {
  width: 100% !important;
  text-align: center !important;
}

.shiny-notification-close {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}
